// Colors
$primary-clr1: #7541c8;
$primary-clr2: #48556a;
$primary-clr3: #19212e;
$primary-clr4: #ffffff;
$neutral-clr1: #cfcfcf;
$neutral-clr2: #ecf2f8;

// Font Size
$fs1: rem(13);

// Font Family
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
$ff1: 'Barlow Semi Condensed', sans-serif;

// Font Weight
$fw1: 500;
$fw2: 600;